.calendar{
  width: 490px;
  margin: auto;
  position: relative;
  top: 10px;
  &__month{
    color: #fff;
    background-color: #8e44ad;
    text-align: center;
    height: 50px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__previous-month,
  &__next-month{
    color: inherit;
    background: inherit;
    border: none;
    height: 38px;
    font-size: 30px;
    font-family: 'Didact Gothic', sans-serif;
  }
}
